@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    
                    <li><a href="">Liên hệ</a></li>
                    
                </ul>
            </div>    
        </div>
        <div class="row">
            
            <div class="col-xs-3">
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Mật Khẩu</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Ghi Nhớ</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                </form>
            </div>
        </div>
        <!--header-->
        <div class="container-fluid">
            
        </div>
        <!--content-->
        <div></div>
        <!--footer-->
    </div>

    <script src="~/scripts/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
