@{
    ViewBag.Title = "Trang Danh Mục";
    Layout = "~/Views/Share/_LayoutFontEnt.cshtml";
    @section masterjs
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/App/directives/angular-sanitize.js")"></script>@* BindingHtml *@
        <script type="text/javascript" src="@Url.Content("~/Scripts/App/app_cate.js")"></script>
    }
}
<div style="height: 10px;"></div>
<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <div dir-paginate="ps in posts|itemsPerPage:7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><a href="{{window.location.origin}}/Home/PostContent?postId={{ps.Id}}" style="font-weight: bolder;color:#337AB7;font-family:roboto_font," segoe ui",arial;">{{ps.Title}}</a></h2>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <img class="img-responsive img-rounded" src="{{ps.Image}}" />
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 content-main">
                        <div class="row">
                            <p style="padding-top: 1px;" ng-bind-html="ps.Summary.substring(0,300)"></p>
                            @*"ps.Summary..."*@
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-lg-10 col-md-9"></div>
                            <div class="col-lg-2 col-md-3">
                                <a href="{{window.location.origin}}/Home/PostContent?postId={{ps.Id}}">
                                    <img src="~/Images/Defaults/web_view/read_more-right.png" width="16" height="16" style="float:right" />
                                    <p style="float: right;font-weight: bold;padding-right: -20px">Đọc thêm</p>
                                </a><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer reset-tag">
                    <pre class="reset-this" style="font-family: monospace;"><span>Tác giả:<a href="#" style="text-decoration:none;"><i>{{ps.Name}}</i></a></span><span> -Ngày đăng:<i style="color:#337ab7">{{ps.DatePost.substring(0,10)}}</i></span><span> -Lượt xem:<i style="color:#337ab7">{{ps.Viewed}}</i></span>
                            </pre>
                </div>
            </div>
        </div>
        <!--Panel Repeat nội dung bài viết-->
        <div class="container" style="margin-top: -20px; margin-left: 10px;">
            <div class="row">
                <dir-pagination-controls max-size="6"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div><!--Phân trang với số nút lớn nhất có thể là 6-->

    </div>
    <!--Nội dung bài viết-->
    @Html.Partial("~/Views/Share/MenuLeft.cshtml")
</div>

